.tpt-collection-list-3__header {
	text-align: center;
	margin-bottom: 60px;
}
.tpt-collection-list-3__header__h2 {
	margin-bottom: 0px;
}

.tpt-collection-list-3__collection-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto auto;
	gap: 12px;
	margin: 0 auto;
}
.tpt-collection-list-3__collection-item {
	background-color: rgba(0, 0, 0, 0.05);
	position: relative;
}

.tpt-collection-list-3__collection-item.item-1 {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

.tpt-collection-list-3__collection-item.item-2 {
	grid-column: 3 / 5;
	grid-row: 1 / 2;
	aspect-ratio: 2/1;
}

.tpt-collection-list-3__collection-item.item-3 {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	aspect-ratio: 1/1;
}

.tpt-collection-list-3__collection-item.item-4 {
	grid-column: 4 / 5;
	grid-row: 2 / 3;
	aspect-ratio: 1/1;
}

.tpt-collection-list-3__collection-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

.tpt-collection-list-3__collection-item-info {
	position: absolute;
	left: 20px;
	bottom: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.tpt-collection-list-3__collection-item-title {
	font-size: 32px;
	line-height: 1;
	font-weight: 600;
	margin: 0;
	color: var(--item-collection-name-color);
}

.tpt-collection-list-3__collection-item-link {
	display: inline-block;
	cursor: pointer;
	height: fit-content;
}

.tpt-collection-list-3__collection-item-button {
	border: none;
	cursor: pointer;
	padding: 13px 20px;
	background-color: var(--item-button-background-color);
	border-radius: var(--item-button-radius);
}

.tpt-collection-list-3__collection-item-button span {
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	color: var(--item-button-text-color);
}

@media screen and (max-width: 1024px) {
	.tpt-collection-list-3__header {
		margin-bottom: 20px;
	}

	.tpt-collection-list-3__collection-item-info {
		left: 10px;
		bottom: 10px;
		gap: 10px;
	}

	.tpt-collection-list-3__collection-item-title {
		font-size: 20px;
	}

	.tpt-collection-list-3__collection-item-button {
		border: none;
		cursor: pointer;
		padding: 10px 20px;
		border-radius: 4px;
	}

	.tpt-collection-list-3__collection-item-button span {
		font-size: 14px;
	}
}

@media screen and (max-width: 768px) {
	.tpt-collection-list-3__collection-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, auto);
		gap: 10px;
		margin: 0 auto;
	}

	.tpt-collection-list-3__collection-item.item-1 {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
		aspect-ratio: 1/1;
	}

	.tpt-collection-list-3__collection-item.item-2 {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
	}

	.tpt-collection-list-3__collection-item.item-3 {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}

	.tpt-collection-list-3__collection-item.item-4 {
		grid-column: 2 / 3;
		grid-row: 3 / 4;
	}
}
